<div class="custombox clearfix">
    <h4 class="small-title"><%=comments.length %> ta izoh</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">
            <% if(comments.length == 0) {%>
                <h1>Birinchilardan bo'lib izoh qoldiring!</h1>
            <% } %>
            <% for(var i = 0; i < comments.length; i++) { %>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="/upload/author.jpg" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name"><%= comments[i].username %><small><%=comments[i].datePosted.toLocaleTimeString() %></small></a> <% if(loggedIn == adminIn) {%> <form style="text-align:right; display:inline" method="POST" action="/delete/comment"><input type="hidden" name="commentId" value="<%= comments[i]._id %>"><input type="hidden" name="postId" value="<%=blogpost._id%>"><input type="hidden" name="userId" value="<%=loggedIn%>"><button style="border:none" type="submit"><i class="fa fa-close"></i></button></form> <% } %></h4>
                        <p><%=comments[i].comment %></p>
                    </div>
                </div>
            <% } %>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end custom-box -->

<hr class="invis1">
<% if(loggedIn) { %>
<div class="custombox clearfix">
    <h4 class="small-title">Izoh qoldirish</h4>
    <div class="row">
        <div class="col-lg-12">
            <form method="POST" action="/add/comment" class="form-wrapper">
                <textarea name="comment" class="form-control" placeholder="Izoh:"></textarea>
                <input type="hidden" name="postId" value="<%=blogpost._id %>">
                <input type="hidden" name="username" value="<%=user.username%>">
                <button type="submit" class="btn btn-primary">Yuborish</button>
            </form>
        </div>
    </div>
</div>
<% } else {%>
    <h1>Izoh qoldirish uchun avval <a href="/auth/register">ro'yxatdan o'ting!</a></h1>
<% } %>