<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header');-%>
<body>

    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <%-include('layouts/navbar');-%>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->

        <%-include('layouts/first_section');-%>

        <%-include('layouts/second_section');-%>

        <%-include('layouts/footer');-%>

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <%-include('layouts/scripts');-%>

</body>
</html>